@*@model List<TmsCommonDataService.CustomsPortServiceModel>;*@

@{
    ViewData["Title"] = "Home Page";
}

123

@*@{
    if (Model != null && Model.Any())
    {
        <table>
            @{foreach (TmsCommonDataService.CustomsPortServiceModel m in Model)
                {

            <tr>
                <td>@m.CustomsPortID</td>
                <td>@m.PortName</td>
                <td>@m.PortNO</td>
            </tr>


                }
            }
        </table>
        <span id="apiPostResult"></span>
    }
}

@section Scripts{ 
    <script>
        $(function () {

            var name = "test";

            $.ajax({
                url: "http://apitest.shangpin.com/api/values/PostApiTest",
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({Name: '4'}),
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
}*@